<div id="scripts">
  <script src="{{site.base_url}}/assets/js/jquery.min.js"></script>
  <script src="{{site.base_url}}/assets/js/jquery.scrollzer.min.js"></script>
  <script src="{{site.base_url}}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{site.base_url}}/assets/js/skel.min.js"></script>
  <script src="{{site.base_url}}/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="{{site.base_url}}/assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{site.base_url}}/assets/js/main.js"></script>
  <script src='{{site.base_url}}/assets/js/jquery.autocomplete.js'></script>
</div>
