
ul {
  list-style-type: none;
}

div.highlight {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
code {
  background-color: rgba(0, 0, 0, 0.04);
}

code[data-lang="r"] {
  color: #3759b4;
}

img { 
  max-width:100%; 
  height: auto; 
}